.wrapper{
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.button{
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.button svg{
   font-size: 1.15rem;
}